.sidebar-main {
  margin: 20px 20px 0 0;
  width: 240px;
  position: fixed;

  .sidebar-list-item {
    width: 100%;
    padding: 10px 20px;
  }
  .active {
    background-color: @light-grey;
    border-left: 3px solid @light-blue;

    p {
      color: @light-blue;
    }
  }
}
