.ant-modal {
  width: 95% !important;
  top: 0;

  .ant-modal-header {
    padding: 24px;
  }
}

.hide-column {
  display: none;
}
.column-visibility-menu {
  ul {
    max-height: 300px;
    overflow-y: auto;
  }
}
