.select-form {
  .ant-select {
    max-width: 200px;
    min-width: 205px;
    .ant-select-selector {
      border-radius: 10px;
    }
  }
}

.common-select {
  .rc-virtual-list-holder-inner {
    overflow: auto;
    max-height: 130px;
  }
}
