@import "~antd/dist/antd.less";



@primary-color: #FF6600; // primary color for all components
@secondary-color: #000000;
@bg-gray-color: #4B4A54;
@light-grey: #DADDE2;
@white-color: #ffffff;
@light-blue: #4DC3D1;
@link-color: #1890ff;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@input-bg-color: #303030;
@border-radius-base: 6px;
// @text-color: @white-color;
// @font-size-base: 14px;








@btn-default-color: @primary-color;
@btn-default-bg: none;
@btn-default-border: @primary-color;

@input-bg: @input-bg-color;
@input-color: @white-color;
@input-border-color : @input-bg-color;
@input-padding-horizontal-base: 20px;

@picker-bg: @input-bg-color;
// @select-dropdown-bg: @input-bg-color;
@select-border-color: @input-bg-color;
@select-background: @input-bg-color;
// @picker-border-color: @input-bg-color;
// @picker-basic-cell-disabled-bg: @primary-color;
// @calendar-bg : @input-bg-color;
// @calendar-border-color: @input-bg-color;
// @calendar-item-active-bg: @input-bg-color;
// @calendar-column-active-bg: @input-bg-color;
// @calendar-full-bg: @input-bg-color;
// @calendar-full-panel-bg: @input-bg-color;