p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    @media @xs {
        font-size: 16px !important;
    }
}

.paragraph-parent {
    .black {
        color: @secondary-color !important;
    }
}

.paragraph-parent {
    .primary {
        color: @primary-color !important;
    }
}